# Allow hoisting of dependencies to ensure Babel presets are available globally
shamefully-hoist=true

# Enable node_modules directory to ensure compatibility with tools expecting a node_modules directory
node-linker=hoisted